.__filter-container {
  width: 480px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.__filter_icon-container {
  width: 100%;
}

.__filter__icon {
  width: 30px;
}

.--gray {
  filter: grayscale(100%);
}
