.__card {
  width: 140px;
  height: 160px;
  padding: 10px;
  background: #fff2bd;
  border: 3px solid #3466af;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.__card:hover {
  box-shadow: inset 0px 0px 10px 0px rgb(48, 106, 192);
}

.__card--img {
  width: 100px;
}

p {
  margin-top: 10px;
  font-size: 18px;
}
