.__table {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.__table--loading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.__table__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.__text--gen {
  margin: 10px 0px;
  font-size: 20px;
}
